.header {
  background: linear-gradient(
    to right,
    rgba(146, 254, 157, 0.8),
    rgba(0, 201, 255, 0.8)
  );
  box-shadow: inset 0px 2px 4px -1px rgba(0, 0, 0, 0.4),
    0px 4px 5px 0px rgba(0, 0, 0, 0.4), 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 4px;
}
