.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.name {
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  @media (min-width: 768px) {
    max-width: 200px;
  }
}

.name:first-letter {
  text-transform: uppercase;
}
.number {
  justify-content: center;
  width: 100%;
  @media (min-width: 768px) {
    max-width: 200px;
  }
}
.button {
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(179, 18, 23, 0.8),
    rgba(229, 45, 39, 0.8)
  );
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 6px;

  width: 100px;
  padding: 5px;
}
.button:hover,
.button:focus {
  color: white;
  box-shadow: inset 0px 2px 4px -1px rgba(0, 0, 0, 0.4),
    0px 4px 5px 0px rgba(0, 0, 0, 0.4), 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
}
