.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
/* .input {
  background-color: rgb(201, 200, 200);
  color: white;
} */
.container {
  min-height: calc(100vh-50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 500;
  font-style: 48;
  text-align: center;
}
